.start-page {
	color: $grayDark37;

	&__row {
		display: flex;
		>section {
			flex: 0 1 50%;
		}
	}
}

.authorization {
	padding: 9rem 0 0 15.5rem;
	
	&__logo {
		width: 35rem;
		height: 23.5rem;
		margin: 0 0 5.8rem;
		display: inline-block;
		@include img(cover)
	}

	&__title {
		font-weight: 600;
		font-size: 3rem;
		margin-bottom: 0.8rem;
	}

	&__info {
		
		margin-bottom: 3.2rem;

		a {
			color: $green;
		}
	}

	&__buttons {
		font-weight: 600;
		font-size: 1.8rem;
		color: #8D96A5;
		display: flex;
		align-items: flex-end;
		margin-bottom: 2.5rem;

		>div.active {
			font-size: 30px;
			color: $grayDark37;
		}
	}

	&__login {
		margin-right: 1.6rem;
		cursor: pointer;
		user-select: none;
	}
	&__register {
		cursor: pointer;
		user-select: none;
	}

	&__form {}
	&__form-1 {}
	&__form-2 {}
	&__input-email {margin-bottom: 2.4rem;}
	&__input-FIO {margin-bottom: 2.4rem;}
	&__input-password {margin-bottom: 4rem;}
	
	&__input-password,
	&__input-FIO,
	&__input-email {
		width: 60rem;
		height: 5rem;
		position: relative;
	}
	

	&__button {
		display: flex;
		align-items: center;

		button {
			@extend %displayFlex;
			width: 20.5rem;
			height: 4rem;
			background-color: $green;
			border-radius: 10rem;
			margin-right: 2.4rem;
			transition: 0.3s;
			
			&:hover {background-color: $greenDark;}
		}
		
		&_span {
			
			color: white;
		}
	}
	
	
	
	&__PO {
		font-size: 1.4rem;
	}
	
	input {
		width: 100%;
		height: 100%;
		background: $whiteF5;
		//background: blue;
		border-radius: 0.4rem;
		padding: 2rem 0 0.8rem 1.6rem;
		
		position: relative;
	}

	&__placeholder {
		
		position: absolute;
		left: 1.6rem;
		top: 50%;
		transform: translateY(-50%);
		color: $gray8D;
		transition: 0.2s;
		user-select: none;
		pointer-events: none;
	}
	&__placeholder.active {
		top: 0.4rem;
		transform: none;
		font-size: 1.2rem;
	}

	&__error {
		font-size: 1.7rem;
		color: red;
		margin-bottom: 0.5rem;
		width: 60rem;
	}
}

.tariff {
	padding: 12rem 0rem 0;


	&__body {
		width: 75rem;
		margin: auto;
	}

	&__title {
		font-weight: 600;
		font-size: 3rem;
		margin-bottom: 2.5rem;
		padding-left: 1.6rem;
	}

	&__head-item {
		//width: 26.5rem;
		height: 16.5rem;
		border-radius: 1.2rem;
		padding: 2.4rem;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	&__head-item-1 {
		background: url('../img/Authorization/bg1.png') 50%/cover no-repeat;
	}
	&__head-item-2 {
		background: url('../img/Authorization/bg2.png') 50%/cover no-repeat;
	}


	&__name {
		font-weight: 600;
		font-size: 1.8rem;
		color: white;
		margin-bottom: 0.5rem;
	}

	&__price {
		color: white;
		//margin-bottom: 2.7rem;
		flex: 1 1 auto;
	}

	&__buy {
		@extend %displayFlex;
		background: #FFFFFF;
		border-radius: 10rem;
		
		height: 4rem;
		color: $grayDark37;
	}

	&__icon {
		vertical-align: unset;
		text-align: center;
	}


	&__helpme {
		width: 20.3rem;
		padding: 1.6rem;
	}
	&__grid {
		display: grid;
		grid-template: auto / 1fr 28.2rem 26.5rem;
		grid-auto-rows: 5.5rem;
		>div{
			overflow: hidden;
			&:nth-child(n + 4) {
				@extend %displayFlex;
				text-align: center;
			}
			&:nth-child(2) {
				padding-bottom: 1.7rem;
			}
			&:nth-child(6n + 9),
			&:nth-child(6n + 8),
			&:nth-child(6n + 7) {
				background: $whiteEF;
			}
		}
	}
	&__costil-time {
		padding-right: 1.8rem;
	}
	&__column {
	}
}